body {
  display: flex;
  font-family: "Roboto", sans-serif;

  .main-content {
    width: 100%;

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 2fr);

      @media screen and (max-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        width: 100%;
      }

      @media screen and (max-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        width: 100%;
      }

      @media screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        width: 100%;
      }
    }
  }
}
